:root {
  --color-blue-01: #071c40; /* Cor azul 01 */
  --color-blue02: #05132b; /* Cor azul 02 */
  --light-blue: #5797e9; /* Cor azul clara */
  --white-01: #fffefe; /* Cor branca 01 */
  --light-gray-01: #f0f1f0; /* Cor cinza clara 01 */
  --light-gray-02: #f8f8f8; /* Cor cinza clara 02 */
  --color-blue-03: #2E3A78; /* Cor azul 03 */
}

main {
background-color: var(--light-gray-01); /* Cor de fundo do elemento main */
/*padding: 50px 50px;*/
}

/* Estrutura do menu de navegação */
.menu-navegacao {
position: fixed; /* Posição fixa */
top: 50%; /* Alinhamento vertical no meio */
left: 50%; /* Alinhamento horizontal no meio */
transform: translate(-50%, -50%); /* Translação para ajustar o posicionamento */
height: 30vh; /* Altura de 30% da altura da viewport */
width: 35%; /* Largura de 35% da largura da viewport */
bottom: 32%; /* Distância do elemento em relação à parte inferior */
z-index: 30; /* Ordem de empilhamento */
font-size: 1.6rem; /* Tamanho da fonte */
background-color: var(--color-blue02); /* Cor de fundo */
color: white; /* Cor do texto */
border-radius: 20px; /* Raio do arredondamento das bordas */
padding: 20px; /* Espaçamento interno */
-webkit-box-shadow: 0px 0px 118px -19px rgba(0,0,0,0.67); /* Sombra para navegadores WebKit */
-moz-box-shadow: 0px 0px 118px -19px rgba(0,0,0,0.67); /* Sombra para navegadores Mozilla */
box-shadow: 0px 0px 118px -19px rgba(0,0,0,0.67); /* Sombra */
}

.menu-navegacao ul {
display: flex; /* Exibição em linha */
flex-wrap: wrap; /* Quebra de linha automática */
list-style: none; /* Remoção do estilo de lista */
padding: 0; /* Remoção do espaçamento interno */
margin: 0; /* Remoção das margens */
}

.menu-navegacao li {
margin: 5px; /* Espaçamento entre os itens da lista */
}

.menu-navegacao a {
color: var(--white-01); /* Cor do texto */
font-size: 3rem; /* Tamanho da fonte */
transition: 0.3s ease; /* Transição suave */
}

.menu-navegacao a:hover {
color: var(--light-blue); /* Cor do texto ao passar o mouse */
}

#pop-overlay1 {
transition: 1s; /* Transição */
display: none; /* Ocultar elemento */
position: absolute; /* Posicionamento absoluto */
top: 0; /* Alinhamento no topo */
left: 0; /* Alinhamento na esquerda */
width: 100%; /* Largura de 100% da viewport */
height: 100%; /* Altura de 100% da viewport */
margin: 0 auto 2rem; /* Margem */
padding: 1.6rem; /* Espaçamento interno */
background-color: rgba(39, 41, 42, 0.333); /* Cor de fundo com transparência */
z-index: 97; /* Ordem de empilhamento */
}

#pop-overlay2 {
transition: 1s; /* Transição */
display: none; /* Ocultar elemento */
position: absolute; /* Posicionamento absoluto */
top: 0; /* Alinhamento no topo */
left: 0; /* Alinhamento na esquerda */
width: 100%; /* Largura de 100% da viewport */
height: 100%; /* Altura de 100% da viewport */
margin: 0 auto 2rem; /* Margem */
padding: 1.6rem; /* Espaçamento interno */
background-color: rgba(39, 41, 42, 0.333); /* Cor de fundo com transparência */
z-index: 95; /* Ordem de empilhamento */
}

/* Configurações do Pop Up - Certo */
#pop-overlay2 #pop-certo {
display: block; /* Exibir elemento */
border-radius: 10px; /* Raio do arredondamento das bordas */
position: fixed; /* Posicionamento fixo */
top: 50%; /* Alinhamento vertical no meio */
left: 50%; /* Alinhamento horizontal no meio */
transform: translate(-50%, -50%); /* Translação para ajustar o posicionamento */
height: 70vh; /* Altura de 70% da altura da viewport */
width: 50%; /* Largura de 50% da largura da viewport */
bottom: 32%; /* Distância do elemento em relação à parte inferior */
font-size: 1.6rem; /* Tamanho da fonte */
padding: 10px; /* Espaçamento interno */
background-color: var(--color-blue-03); /* Cor de fundo */
color: white; /* Cor do texto */
}

#pop-overlay2 #pop-certo p {
text-align: center; /* Alinhamento do texto ao centro */
}

/* Configurações do Pop Up - Errado */
#pop-overlay1 #pop-errado {
display: block; /* Exibir elemento */
border-radius: 10px; /* Raio do arredondamento das bordas */
position: fixed; /* Posicionamento fixo */
top: 50%; /* Alinhamento vertical no meio */
left: 50%; /* Alinhamento horizontal no meio */
transform: translate(-50%, -50%); /* Translação para ajustar o posicionamento */
height: 70vh; /* Altura de 70% da altura da viewport */
width: 50%; /* Largura de 50% da largura da viewport */
bottom: 32%; /* Distância do elemento em relação à parte inferior */
font-size: 1.6rem; /* Tamanho da fonte */
padding: 10px; /* Espaçamento interno */
background-color: var(--color-blue-03); /* Cor de fundo */
color: white; /* Cor do texto */
}

#pop-overlay1 #pop-errado p {
text-align: center; /* Alinhamento do texto ao centro */
}


.correct-txt {
  margin-top: 5px; /* Margem superior de 5 pixels */
}

.close-pop {
  padding: 0;
  margin: 0;
}

.close-pop button {
  width: 50px; /* Largura de 50 pixels */
  height: 50px; /* Altura de 50 pixels */
  font-size: 2rem; /* Tamanho da fonte de 2 rem */
  font-weight: bold; /* Peso da fonte em negrito */
  transition: 0.3s ease; /* Transição com duração de 0.3 segundos com efeito de suavização */
  background: white; /* Fundo branco */
  text-decoration: none; /* Sem decoração de texto */
  border: 2px solid var(--light-blue); /* Borda de 2 pixels sólidos com uma cor definida pela variável --light-blue */
  border-radius: 20px; /* Raio do arredondamento das bordas de 20 pixels */
}

.close-pop button:hover {
  background-color: var(--light-blue); /* Cor de fundo definida pela variável --light-blue quando o botão é hover (passado o mouse por cima) */
  color: var(--white-01); /* Cor do texto definida pela variável --white-01 quando o botão é hover */
}

.section-question {
  padding: 50px 100px; /* Preenchimento interno de 50 pixels no topo e na base, 100 pixels nos lados */

  display: flex; /* Exibir como flex */
  flex-direction: column; /* Direção de coluna dos elementos flex */
}

.section-question h1 {
  font-size: 4rem; /* Tamanho da fonte de 4 rem */
  font-weight: 700; /* Peso da fonte em negrito */
  padding: 40px 0px; /* Preenchimento interno de 40 pixels no topo e na base, nenhum nos lados */
  text-align: center; /* Alinhamento centralizado do texto */
  color: var(--color-blue-01); /* Cor do texto definida pela variável --color-blue-01 */
  text-transform: uppercase; /* Transformação do texto para caixa alta */
}

.section-question h2 {
  text-transform: uppercase; /* Transformação do texto para caixa alta */
}

.section-question p {
  font-size: 1.6rem; /* Tamanho da fonte de 1.6 rem */
  margin: 10px 0; /* Margem de 10 pixels no topo e na base, nenhuma nos lados */
  text-align: justify; /* Alinhamento justificado do texto */
}

.section-question label {
  font-size: 1.8rem; /* Tamanho da fonte de 1.8 rem */
  margin-bottom: 10px; /* Margem inferior de 10 pixels */
  font-weight: bold; /* Peso da fonte em negrito */
}

.section-question blockquote {
  font-size: 1.2rem; /* Tamanho da fonte de 1.2 rem */
  text-align: left; /* Alinhamento do texto à esquerda */
  margin-bottom: 10px; /* Margem inferior de 10 pixels */
}

.section-question button {
  border: 2px solid var(--light-blue); /* Borda de 2 pixels sólidos com uma cor definida pela variável --light-blue */
  margin: 50px 0; /* Margem de 50 pixels no topo e na base, nenhuma nos lados */
  padding: 0 20px; /* Preenchimento interno de 0 no topo e na base, 20 pixels nos lados */
  border-radius: 30px; /* Raio do arredondamento das bordas de 30 pixels */
  font-size: 1.6rem; /* Tamanho da fonte de 1.6 rem */
  color: var(--color-blue-01); /* Cor do texto definida pela variável --color-blue-01 */
  text-decoration: none; /* Sem decoração de texto */
  background-color: var(--white-01); /* Cor de fundo definida pela variável --white-01 */
  line-height: 50px; /* Altura da linha de 50 pixels */
  cursor: pointer; /* Cursor do mouse como ponteiro */
  transition: 0.3s ease; /* Transição com duração de 0.3 segundos com efeito de suavização */
}

.section-question button:hover {
  background-color: var(--light-blue); /* Cor de fundo definida pela variável --light-blue quando o botão é hover */
  color: var(--white-01); /* Cor do texto definida pela variável --white-01 quando o botão é hover */
  /*transform: scale(10);*/ /* Transformação de escala em 10 vezes */
}

.section-question button .btn-disabled {
  cursor: no-drop; /* Cursor do mouse como "no-drop" */
}

.btn-popup {
  border: 2px solid var(--light-blue); /* Borda de 2 pixels sólidos com uma cor definida pela variável --light-blue */
  margin: 0; /* Nenhuma margem */
  padding: 0 20px; /* Preenchimento interno de 0 no topo e na base, 20 pixels nos lados */
  border-radius: 30px; /* Raio do arredondamento das bordas de 30 pixels */
  font-size: 1.6rem; /* Tamanho da fonte de 1.6 rem */
  line-height: 40px; /* Altura da linha de 40 pixels */
  color: var(--color-blue-01); /* Cor do texto definida pela variável --color-blue-01 */
  text-decoration: none; /* Sem decoração de texto */
  background-color: var(--white-01); /* Cor de fundo definida pela variável --white-01 */
  cursor: pointer; /* Cursor do mouse como ponteiro */
  transition: 0.3s ease; /* Transição com duração de 0.3 segundos com efeito de suavização */
}

.btn-popup:hover {
  background-color: var(--light-blue); /* Cor de fundo definida pela variável --light-blue quando o botão é hover */
  color: var(--white-01); /* Cor do texto definida pela variável --white-01 quando o botão é hover */
}

.btn-group-1 {
  display: flex; /* Exibir como flex */
  justify-content: space-between; /* Justificar o conteúdo distribuindo o espaço entre os elementos */
}

.btn-group-2 {
  display: flex; /* Exibir como flex */
  justify-content: space-between; /* Justificar o conteúdo distribuindo o espaço entre os elementos */
}

.respostas {
  display: flex; /* Exibir como flex */
  flex-direction: row; /* Direção de linha dos elementos flex */
  justify-content: flex-start; /* Justificar o conteúdo no início do eixo horizontal */
  align-content: center; /* Alinhar o conteúdo ao centro do eixo vertical */
}

.respostas input[type='radio'] {
  -webkit-appearance: none; /* Remove a aparência padrão do radio button no navegador */
  width: 20px; /* Largura de 20 pixels */
  height: 20px; /* Altura de 20 pixels */
  border-radius: 50%; /* Raio do arredondamento das bordas de 50% (formato de círculo) */
  margin-right: 1rem; /* Margem direita de 1 rem */
  outline: none; /* Remove o contorno do elemento quando em foco */
  box-shadow: 0 0 5px 0px gray inset; /* Sombra interna do elemento com deslocamento de 5 pixels */
}

.respostas input[type='radio']:hover {
  box-shadow: 0px 0px 5px .25rem var(--light-blue) inset; /* Sombra interna do elemento com deslocamento de 5 pixels e cor definida pela variável --light-blue quando o radio button é hover */
}

.respostas input[type='radio']:before {
  content: ''; /* Conteúdo vazio */
  display: block; /* Exibição como bloco */
  width: 100%; /* Largura de 100% */
  height: 100%; /* Altura de 100% */
  border-radius: 50%; /* Raio do arredondamento das bordas de 50% (formato de círculo) */
}

.respostas input[type='radio']:checked:before {
  transition: .3s; /* Transição com duração de 0.3 segundos */
  box-shadow: 0px 0px 5px 1rem var(--light-blue) inset; /* Sombra interna do elemento com deslocamento de 5 pixels e cor definida pela variável --light-blue quando o radio button é marcado */
  border: 0px solid darkgray; /* Borda de 0 pixels sólidos com cor darkgray */
  overflow: hidden; /* Oculta qualquer conteúdo que transborde do elemento */
}

#chart-container {
  display: none; /* Não exibir o elemento */
  padding: 0px 50px 0px 50px; /* Preenchimento interno de 0 pixels no topo, 50 pixels nos lados direito e esquerdo, e 0 pixels na base */
}

#chart-container2 {
  display: none; /* Não exibir o elemento */
  padding: 0px 50px 0px 50px; /* Preenchimento interno de 0 pixels no topo, 50 pixels nos lados direito e esquerdo, e 0 pixels na base */
}

#chart-container p {
  font-size: 1.2rem; /* Tamanho da fonte de 1.2 rem */
}

#chart-container2 p {
  font-size: 1.2rem; /* Tamanho da fonte de 1.2 rem */
}

@media (max-width: 1180px) {
  .section-question {
    padding: 20px 40px; /* Preenchimento interno de 20 pixels no topo e na base, 40 pixels nos lados direito e esquerdo */
  
    display: flex; /* Exibir como flex */
    flex-direction: column; /* Direção de coluna dos elementos flex */
  }

  .btn-group-2 {
    flex-direction: column; /* Direção de coluna dos elementos flex */
  }

  .section-question .btn-group-2 button {
    border: 2px solid var(--light-blue); /* Borda de 2 pixels sólidos com cor definida pela variável --light-blue */
    padding: 20px 0px; /* Preenchimento interno de 20 pixels no topo e na base, 0 pixels nos lados direito e esquerdo */
    border-radius: 30px; /* Raio do arredondamento das bordas de 30 pixels */
    font-size: 1.6rem; /* Tamanho da fonte de 1.6 rem */
    margin: 30px 0; /* Margem de 30 pixels no topo e na base, nenhuma nos lados */
    color: var(--color-blue-01); /* Cor do texto definida pela variável --color-blue-01 */
    text-decoration: none; /* Sem decoração de texto */
    background-color: var(--white-01); /* Cor de fundo definida pela variável --white-01 */
    line-height: 30px; /* Altura da linha de 30 pixels */
    cursor: pointer; /* Cursor do mouse como ponteiro */
    transition: 0.3s ease; /* Transição com duração de 0.3 segundos com efeito de suavização */
  }
}

@media (max-width: 1180px) {
  /* Estilos para quando a largura da tela é no máximo 1180 pixels */
  /* Estrutura menu navegação */
  .menu-navegacao {
    height: 50vh; /* Altura de 50% da altura da viewport */
    width: 75%; /* Largura de 75% */
    bottom: 32%; /* Posicionamento vertical de 32% em relação ao elemento pai */
  }
}
