:root {
  --color-blue-01: #071c40; /* Cor azul 01 */
  --color-blue02: #05132b; /* Cor azul 02 */
  --light-blue: #5797e9; /* Cor azul claro */
  --white-01: #fffefe; /* Cor branca */
  --light-gray-01: #f0f1f0; /* Cor cinza claro 01 */
  --light-gray-02: #f8f8f8; /* Cor cinza claro 02 */
}

main {
  background-color: var(--white-01); /* Define a cor de fundo principal como branco */
}

.conteudo img {
  padding: 40px; /* Define o preenchimento interno das imagens */
  width: 50rem; /* Define a largura das imagens */
}

.conteudo button {
  border: 2px solid var(--light-blue); /* Define a borda do botão com a cor azul claro */
  margin: 30px 30px; /* Define as margens do botão */
  padding: 0 20px; /* Define o preenchimento interno do botão */
  border-radius: 30px; /* Define o raio do arredondamento das bordas do botão */
  font-size: 1.6rem; /* Tamanho da fonte */
  color: var(--color-blue-01); /* Define a cor do texto do botão */
  text-decoration: none; /* Remove a decoração de texto do botão */
  background-color: var(--white-01); /* Define a cor de fundo do botão como branco */
  line-height: 50px; /* Define a altura da linha de texto do botão */
  cursor: pointer; /* Define o cursor do mouse como ponteiro */
  transition: 0.3s ease; /* Define a transição de propriedades durante a mudança de estado */
  width: 200px; /* Define a largura do botão */
}

.conteudo button:hover {
  background-color: var(--light-blue); /* Define a cor de fundo do botão ao passar o mouse sobre ele como azul claro */
  color: var(--white-01); /* Define a cor do texto do botão ao passar o mouse sobre ele como branco */
}

.conteudo {
  display: flex; /* Define o display como flex */
  flex-direction: column; /* Define a direção dos itens flexíveis */
}

.conteudo h1 {
  font-size: 3rem; /* Tamanho da fonte */
  font-weight: 700; /* Define o peso da fonte como negrito */
  padding: 40px 0px; /* Define o preenchimento interno do título */
  text-align: center; /* Centraliza o texto */
  color: var(--color-blue-01); /* Define a cor do texto como azul 01 */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

.conteudo p {
  font-size: 1.6rem; /* Tamanho da fonte */
  margin: 10px 0; /* Define as margens do parágrafo */
}

#mostrarResultado {
  display: flex; /* Define o display como flex */
  align-items: center; /* Alinha os elementos verticalmente ao centro */
  justify-content: center; /* Alinha os elementos horizontalmente ao centro */
  flex-direction: column; /* Define a direção dos itens flexíveis */
}

.button {
  display: flex; /* Define o display como flex */
  align-items: center; /* Alinha os elementos verticalmente ao centro */
  justify-content: center; /* Alinha os elementos horizontalmente ao centro */
  flex-direction: row; /* Define a direção dos itens flexíveis */
}

#chart-container {
  width: 600px;
  margin: 0 auto; /* Define o preenchimento interno do contêiner do gráfico */
}